[Unit]
Description=Telegram bot to transcribe and translate voice messages.

[Service]
Type=simple
ExecStart=/home/{{ __admin }}/.venv/telegram/bin/python /home/{{ __admin }}/telegram/telegrambot.py
Environment=GOOGLE_APPLICATION_CREDENTIALS=/home/{{ __admin }}/telegram/private-key.json
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
